{% extends 'base.html' %}
{% block title %}Авторизация{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/authorization.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
        <h1>Авторизация</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <h4 class="{{ category }}">{{ message }}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </header>
    <main>
        <article class="form">
            <form method="post">
                <input required value="{{ request.form['email'] }}" type="text" name="email" id="email" placeholder="mail@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <input required value="{{ request.form['pswd'] }}" type="text" name="pswd" id="pswd" placeholder="Пароль (буквы, цифры, 8 символов)" pattern="^((?=.*[A-Za-z])|(?=.*[А-ЯЁа-яё]))(?=.*[0-9]).{8,16}$">
                <button type="submit">Авторизироваться</button>
            </form>
            <a href="{{ url_for('restore_email') }}">Я не помню пароль</a>
            <a href="{{ url_for('registration') }}">Я не зарегистрирован</a>
        </article>
    </main>
{% endblock content %}