{% extends 'base.html' %}
{% block title %}Корзина{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
        <h1>Корзина</h1>
    </header>
    <main>
        <div class = "basket_item">
            <p><i class="fa fa-times" aria-hidden="true"></i></p>
            <img src="{{ url_for('static', filename='images/cart_item.png') }}" alt="no img?">
            <p>Название</p>
            <div class="price_per_piece">
                <p>Цена за шт<i class="fa fa-rub" aria-hidden="true"></i></p>
            </div>
            <div class="quantity">
                <p><i class="fa fa-minus" aria-hidden="true"></i></p>
                <p>Кол.</p>
                <p><i class="fa fa-plus" aria-hidden="true"></i></p>
            </div>
            <div class="final_price">
                <p>Сумма<i class="fa fa-rub" aria-hidden="true"></i></p>
            </div>
        </div>
        <div class="price-btn">
            <a href="">Купить</a>
        </div>
    </main>
{% endblock content %}