{% extends 'base.html' %}
{% block title %}Авторизация{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/authorization.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
        <h1>Изменение пароля</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <h4 class="{{ category }}">{{ message }}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </header>
    <main>
        <article class="form">
            <form method="post">
                <input required value="{{ request.form['old_pswd'] }}" type="text" name="old_pswd" id="old_pswd" placeholder="Старый пароль (буквы, цифры, 8 символов)" pattern="^((?=.*[A-Za-z])|(?=.*[А-ЯЁа-яё]))(?=.*[0-9]).{8,16}$">
                <input required value="{{ request.form['new_pswd'] }}" type="text" name="new_pswd" id="new_pswd" placeholder="Новый пароль (буквы, цифры, 8 символов)" pattern="^((?=.*[A-Za-z])|(?=.*[А-ЯЁа-яё]))(?=.*[0-9]).{8,16}$">
                <button type="submit">Сменить пароль</button>
            </form>
        </article>
    </main>
{% endblock content %}