{% extends 'base.html' %}
{% block title %}Контакты{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/contacts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7b651f56-3227-4ad1-8774-e8f13c771299&lang=ru_RU"></script>
    <script src="{{ url_for('static', filename='scripts/ymaps.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header class="contact-us">
        <figure>
            <img src="{{ url_for('static', filename='images/contacts_background.jpg') }}" alt="no image?">
            <figcaption>
                <h1>Свяжитесь с нами</h1>
                <p>Мы вам всегда рады!</p>
            </figcaption>
        </figure> 
    </header>
    <main>
        <article class="contacts">
            <figure>
                <img src="{{ url_for('static', filename='images/contacts_icon.jpg') }}" alt="no image?">
            </figure>
            <h2>Контактные номера</h2>
            <hr>
            <p>8(888)888-8888</p>
            <p>8(999)999-9999</p>
            <h2>Филиалы</h2>
            <hr>
            <p>г.Москва, м.Говорово, 55.653396, 37.437420</p>
            <p>г.Москва, м.Говорово, 55.653396, 37.437420</p>
            <h2>График работы</h2>
            <hr>
            <p>ежедневно 9:00 - 21:00</p>
        </article>
        <article class="form">
            <form>
                <input type="text" placeholder="Имя">
                <input type="text" placeholder="Почта">
                <textarea placeholder="Сообщение" required></textarea>
                <input type="submit" value="Отправить">
            </form>
        </article>
    </main>
    <div class="map" id="map-container">
    </div>
{% endblock content %}
