{% extends 'base.html' %}
{% block title %}Косметика{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cosmetics-card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
        <h1></h1>
    </header>
    <main>
        <div class="main-info">
            <img src="{{ url_for('static', filename='images_items/' + item['pic_name_i']) }}" alt="no images?">
            <div class="text-info">
                <h2>{{ item['item_name'] }}</h2>
                <p>{{ item['item_description'] }}</p>
                <p>Осталось {{ item['item_amount'] }}</p>
            </div>  
        </div>
        <div class="price-btn">
            <p class="price">{{ item['item_price'] }}<i class="fa fa-rub" aria-hidden="true"></i></p>
            <form method="post">
                <button type="submit" name="action" value="{{ item['item_id'] }}"><i class="fa fa-shopping-basket" aria-hidden="true"></i>В корзину</button>
            </form>
        </div>
        <div class="reusable-block">
            <div class="reviews">
                <h3>Отзывы клиентов</h3>
                <a href="{{ url_for('add_comments_item') }}">Оставить отзыв</a>
            </div>
            {% for review in reviews %}
                <div class="review-view"> <!-- existing reviews -->
                    <figure>
                        <div class="user">
                            <img src="{{ url_for('static', filename='images_users/' + review['pic_name_u']) }}" alt="no">
                            <figcaption>{{ review['first_name'] }} {{ review['second_name'] }}</figcaption>
                        </div>
                        <div class="stars">
                            <p>Оценка: {{ review['rating'] }}</p>
                            <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
                            <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
                            <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
                            <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
                            <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
                        </div> <!-- stars -->
                    </figure>
                    <div class="comment"><p>{{ review['comments'] }}</p></div> <!-- comment -->
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}