{% extends 'base.html' %}
{% block title %}Домашняя страница{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <main>
        <article class="buttons">
            <div class="buttons__background-reg">
                <a href="{{ url_for('registration') }}" class="buttons__registration">Регистрация</a>
            </div>
            <div class="buttons__background-auth">
                <a href="{{ url_for('authorization') }}" class="buttons__authorization">Авторизация</a>
            </div>
        </article>
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
                <div class="slide">
                    <img src="{{ url_for('static', filename='images/home_desktop1.jpg') }}" />
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                  <img src="{{ url_for('static', filename='images/home_desktop2.jpg') }}" />
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                  <img src="{{ url_for('static', filename='images/home_desktop3.jpg') }}" />
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-4" />
            <li class="slide-container">
                <div class="slide">
                  <img src="{{ url_for('static', filename='images/home_desktop4.jpg') }}" />
                </div>
            </li>
        
            <li class="nav-dots">
              <label for="img-1" class="nav-dot" id="img-dot-1"></label>
              <label for="img-2" class="nav-dot" id="img-dot-2"></label>
              <label for="img-3" class="nav-dot" id="img-dot-3"></label>
              <label for="img-4" class="nav-dot" id="img-dot-4"></label>
            </li>
        </ul>
    </main>
{% endblock content %}