<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
</head>
<body>
    <!--place for navbar-->
    <nav class="navbar">
        <div class="navbar__logo">
            <p data-word="KENT">KENT</p>
        </div>
        <div class="navbar__elements">
            <a href="{{ url_for('home') }}">Главная</a>
            <a href="{{ url_for('contacts') }}">Контакты</a>
            <a href="{{ url_for('portfolio') }}">Портфолио</a>
            <div class="navbar_combined-btn">
                <a href="{{ url_for('cosmetics') }}">Косметика</a>
                <a href="{{ url_for('cart') }}"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>0</span></a><!--ссылка на корзину-->
            </div>
            <div class="navbar_combined-btn">
                <a href="{{ url_for('service_and_price') }}">Услуги</a>
                <a href="{{ url_for('service_events') }}"><i class="fa fa-book" aria-hidden="true"></i><span>0</span></a><!--ссылка на записи-->
            </div>
        </div>
    </nav>
    <main>
        <article class="buttons">
            <div class="buttons__background-reg">
                <a href="{{ url_for('registration') }}" class="buttons__registration">Регистрация</a>
            </div>
            <div class="buttons__background-auth">
                <a href="{{ url_for('authorization') }}" class="buttons__authorization">Авторизация</a>
            </div>
        </article>
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
                <div class="slide">
                    <img src="{{ url_for('static', filename='images/home_desktop1.jpg') }}" />
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                  <img src="{{ url_for('static', filename='images/home_desktop2.jpg') }}" />
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                  <img src="{{ url_for('static', filename='images/home_desktop3.jpg') }}" />
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-4" />
            <li class="slide-container">
                <div class="slide">
                  <img src="{{ url_for('static', filename='images/home_desktop4.jpg') }}" />
                </div>
            </li>
        
            <li class="nav-dots">
              <label for="img-1" class="nav-dot" id="img-dot-1"></label>
              <label for="img-2" class="nav-dot" id="img-dot-2"></label>
              <label for="img-3" class="nav-dot" id="img-dot-3"></label>
              <label for="img-4" class="nav-dot" id="img-dot-4"></label>
            </li>
        </ul>
    </main>
</body>
</html>