{% extends 'base.html' %}
{% block title %}Мастер{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/portfolio-card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
        <h1></h1>
    </header>
    <main>
        <div class="main-info">
            <img src="{{ url_for('static', filename='images/porfolio_card_master.png') }}" alt="no images?">
            <div class="text-info">
                <h2>Савин Илья Ярославович</h2>
                <p>Опыт работы</p>
            </div>  
        </div>
        <div class="biography">
            <p>TEXT</p>
        </div>
        <div class="reusable-block">
            <div class="reviews">
                <h3>Отзывы клиентов</h3>
                <button>Оставить отзыв</button>
            </div>
            <div class="review-view"> <!-- existing reviews -->
                <figure>
                    <div class="user">
                        <img src="{{ url_for('static', filename='images/porfolio_card_reviewer.png') }}" alt="">
                        <figcaption>ФИО</figcaption>
                    </div>
                    <div class="stars">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div> <!-- stars -->
                </figure>
                <div class="comment"><p>ОЧЕНЬ ХАРАШО СДЕЛАЛЯЛЬ</p></div> <!-- comment -->
            </div>
            <div class="review-view"> <!-- existing reviews -->
                <figure>
                    <div class="user">
                        <img src="images/1-review.png" alt="">
                        <figcaption>ФИО</figcaption>
                    </div>
                    <div class="stars">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div> <!-- stars -->
                </figure>
                <div class="comment"><p>ОЧЕНЬ ХАРАШО СДЕЛАЛЯЛЬ</p></div> <!-- comment -->
            </div>
        </div>
    </main>
{% endblock content %}