{% extends 'base.html' %}
{% block title %}Мастера{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/portfolio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
        <h1>Наши мастера</h1>
    </header>
    <main>
        {% for master in masters %}
            <figure>
                <img src="{{ url_for('static', filename='images_masters/' + master['pic_name_m']) }}" alt="no images?">
                <figcaption>
                    <div>
                        <h2>{{ master['first_name'] }}</h2>
                        <h2>{{ master['second_name'] }}</h2>
                        <h2>{{ master['patronymic_name'] }}</h2>
                    </div>
                    <p>{{ master['description'] }}</p>
                    <a href="{{ url_for('portfolio_card', master_id=master['master_id']) }}">посмотреть отзывы <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </figcaption>
            </figure>
        {% endfor %}
    </main>
{% endblock content %}
