{% extends 'base.html' %}
{% block title %}Мастер{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/portfolio-card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
        <h1></h1>
    </header>
    <main>
        <div class="main-info">
            <img src="{{ url_for('static', filename='images_masters/' + master['pic_name_m']) }}" alt="no images?">
            <div class="text-info">
                <div>
                    <h2>{{ master['first_name'] }}</h2>
                    <h2>{{ master['second_name'] }}</h2>
                    <h2>{{ master['patronymic_name'] }}</h2>
                </div>
                <p>Опыт работы {{ master['experience'] }} лет</p>
            </div>  
        </div>
        <div class="biography">
            <p>{{ master['description'] }}</p>
        </div>
        <div class="reusable-block">
            <div class="reviews">
                <h3>Отзывы клиентов</h3>
                <a href="{{ url_for('add_comments_master') }}">Оставить отзыв</a>
            </div>
            {% for review in reviews %}
                <div class="review-view"> <!-- existing reviews -->
                    <figure>
                        <div class="user">
                            <img src="{{ url_for('static', filename='images_users/' + review['pic_name_u']) }}" alt="no">
                            <figcaption>{{ review['first_name'] }} {{ review['second_name'] }}</figcaption>
                        </div>
                        <div class="stars">
                            <p>Оценка: {{ review['rating'] }}</p>
                            <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
                            <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
                            <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
                            <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
                            <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
                        </div> <!-- stars -->
                    </figure>
                    <div class="comment"><p>{{ review['comments'] }}</p></div> <!-- comment -->
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}