{% extends 'base.html' %}
{% block title %}Мастера{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/portfolio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
        <h1>Наши мастера</h1>
    </header>
    <main>
        <figure>
            <img src="{{ url_for('static', filename='images/portfolio_master1.png') }}" alt="no images?">
            <figcaption>
                <h2>Савин Илья Ярославович</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.</p>
                <a href="#">посмотреть отзывы <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
        <figure>
            <img src="{{ url_for('static', filename='images/portfolio_master2.png') }}" alt="no images?">
            <figcaption>
                <h2>Мельников Георгий Матвеевич</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.</p>
                <a href="#">посмотреть отзывы <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
        <figure>
            <img src="{{ url_for('static', filename='images/portfolio_master3.png') }}" alt="no images?">
            <figcaption>
                <h2>Виноградов Даниил Глебович</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.</p>
                <a href="#">посмотреть отзывы <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
    </main>
{% endblock content %}
