{% extends 'base.html' %}
{% block title %}Профиль{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
        <h1>Профиль</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <h4 class="{{ category }}">{{ message }}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </header>
    <main>
        <img src="{{ url_for('static', filename='images_users/' + session['pic_name']) }}" alt="image not loaded">
        <div class="labels">
            <div><span>Имя</span><p>{{ session['first_name'] }}</p></div>
            <div><span>Фамилия</span><p>{{ session['second_name'] }}</p></div>
            <div><span>Возраст</span><p>{{ session['age'] }}</p></div>
            <div><span>Телефон</span><p>{{ session['number'] }}</p></div>
            <div><span>Почта</span><p>{{ session['email'] }}</p></div>
            <div><span>Пароль</span><p>{{ session['pswd'] }}</p></div>
            <a href="{{ url_for('profile_edit') }}">Изменить данные</a>
            <a href="{{ url_for('logout') }}">Выйти</a>
        </div>
    </main>
{% endblock content %}
