{% extends 'base.html' %}
{% block title %}Профиль{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
        <h1>Профиль</h1>
    </header>
    <main>
        <img src="{{ url_for('static', filename='images/cosmetics_card_reviewer.png') }}" alt="image not loaded">
        <div>
            <p>{{ session['first_name'] }}</p>
            <p>{{ session['second_name'] }}</p>
            <p>{{ session['age'] }}</p>
            <p>{{ session['number'] }}</p>
            <p>{{ session['email'] }}</p>
            <p>{{ session['pswd'] }}</p>
            <a href="{{ url_for('profile_edit') }}">Изменить данные</a>
            <a href="{{ url_for('logout') }}">Выйти</a>
        </div>
    </main>
{% endblock content %}
