{% extends 'base.html' %}
{% block title %}Корзина{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/registration.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
        <h1>Регистрация</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <h4 class="{{ category }}">{{ message }}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </header>
    <main>
        <article class="form">
            <form method="post" enctype="multipart/form-data">
                <input required value="{{ request.form['first_name'] }}" type="text" name="first_name" id="first_name" placeholder="Имя" pattern="^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$">
                <input required value="{{ request.form['second_name'] }}" type="text" name="second_name" id="second_name" placeholder="Фамилия" pattern="^^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$">
                <input required value="{{ request.form['age'] }}" type="number" name="age" id="age" placeholder="Возраст" min="0">
                <input required value="{{ request.form['number'] }}" type="tel" name="number" id="number" placeholder="89999999999" pattern="[8]\d{10}">
                <input required value="{{ request.form['email'] }}" type="text" name="email" id="email" placeholder="mail@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <input required value="{{ request.form['pswd'] }}" type="text" name="pswd" id="pswd" placeholder="Пароль (буквы, цифры, 8 символов)" pattern="^((?=.*[A-Za-z])|(?=.*[А-ЯЁа-яё]))(?=.*[0-9]).{8,16}$">
                <div class="float-label"><label for="profile_pic">Фото</label><input class="choose-pic" type="file" name="profile_pic" id="profile_pic" accept="image/*" capture></div>
                <button type="submit">Зарегистрироваться</button>
            </form>
            <a href="{{ url_for('authorization') }}">Я уже зарегистрирован</a>
        </article>
    </main>
{% endblock content %}
