{% extends 'base.html' %}
{% block title %}Корзина{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/restore_password.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
        <h1>Восстановление пароля</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <h4 class="{{ category }}">{{ message }}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </header>
    <main>
        <article class="form">
            <form method="post">
                <input required value="{{ request.form['email'] }}" type="text" name="email" id="email" placeholder="Почта">
                <button type="submit">Восстановить</button>
            </form>
            <a href="{{ url_for('authorization') }}">Я вспомнил пароль</a>
            <a href="{{ url_for('registration') }}">Я не зарегистрирован</a>
        </article>
    </main>
{% endblock content %}
