{% extends 'base.html' %}
{% block title %}Корзина{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/service_and_price.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
    </header>
    <main>
        <!--category-->
        <h1 id="service">Услуги и цены</h1>
        <div class="category">
            <figure class="item">
                <img src="{{ url_for('static', filename='images/service_and_price_nikitos.jpg') }}" alt="no images?">
                <figcaption>
                    <h3>Название</h3>
                    <div class="price-btn">
                        <p class="price">1337<i class="fa fa-rub" aria-hidden="true"></i></p>
                        <a href=""><i class="fa fa-book" aria-hidden="true"></i></i>Записаться</a>
                    </div>
                </figcaption>
            </figure>
            <figure class="item">
                <img src="{{ url_for('static', filename='images/service_and_price_nikitos.jpg') }}" alt="no images?">
                <figcaption>
                    <h3>Название</h3>
                    <div class="price-btn">
                        <p class="price">1337<i class="fa fa-rub" aria-hidden="true"></i></p>
                        <a href=""><i class="fa fa-book" aria-hidden="true"></i></i>Записаться</a>
                    </div>
                </figcaption>
            </figure>
            <figure class="item">
                <img src="{{ url_for('static', filename='images/service_and_price_nikitos.jpg') }}" alt="no images?">
                <figcaption>
                    <h3>Название</h3>
                    <div class="price-btn">
                        <p class="price">1337<i class="fa fa-rub" aria-hidden="true"></i></p>
                        <a href=""><i class="fa fa-book" aria-hidden="true"></i></i>Записаться</a>
                    </div>
                </figcaption>
            </figure>
            <figure class="item">
                <img src="{{ url_for('static', filename='images/service_and_price_nikitos.jpg') }}" alt="no images?">
                <figcaption>
                    <h3>Название</h3>
                    <div class="price-btn">
                        <p class="price">1337<i class="fa fa-rub" aria-hidden="true"></i></p>
                        <a href=""><i class="fa fa-book" aria-hidden="true"></i></i>Записаться</a>
                    </div>
                </figcaption>
            </figure>
            <figure class="item">
                <img src="{{ url_for('static', filename='images/service_and_price_nikitos.jpg') }}" alt="no images?">
                <figcaption>
                    <h3>Название</h3>
                    <div class="price-btn">
                        <p class="price">1337<i class="fa fa-rub" aria-hidden="true"></i></p>
                        <a href=""><i class="fa fa-book" aria-hidden="true"></i></i>Записаться</a>
                    </div>
                </figcaption>
            </figure>
            <figure class="item">
                <img src="{{ url_for('static', filename='images/service_and_price_nikitos.jpg') }}" alt="no images?">
                <figcaption>
                    <h3>Название</h3>
                    <div class="price-btn">
                        <p class="price">1337<i class="fa fa-rub" aria-hidden="true"></i></p>
                        <a href=""><i class="fa fa-book" aria-hidden="true"></i></i>Записаться</a>
                    </div>
                </figcaption>
            </figure>
        </div>
    </main>
{% endblock content %}
