{% extends 'base.html' %}
{% block title %}Корзина{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/service_and_price.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
{% endblock link %}
{% block content %}
    <header>
    </header>
    <main>
        <!--category-->
        <h1 id="service">Услуги и цены</h1>
        <div class="category">
            {% for service in services %}
                <form method="post" class="item">
                    <img src="{{ url_for('static', filename='images_services/' + service['pic_name_s']) }}" alt="no images?">
                    <figcaption class="figcaption">
                        <h3>{{ service['service_name'] }}</h3>
                        <div class="price-btn">
                            <p class="price">{{ service['service_price'] }}<i class="fa fa-rub" aria-hidden="true"></i></p>
                            <button type="submit" name="action" value="{{ service['service_id'] }}"><i class="fa fa-book" aria-hidden="true"></i>Записаться</button>
                        </div>
                    </figcaption>
                </form>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
